In [288]:
#Python list
#List constructor - from tuple to list/ Str to list
#print(help(list)) #this show list attributes

l = (("Apple", "Banana", "Cherry", "Mango"))
print("this is 0 ", type(l), l)

l = list(("Apple", "Banana", "Cherry", "Mango"))
print("this is 1", type(l) ,l)

s = "Apple Banana Cherry Mango"
print("this is 2", type(s), s)
st = s.split(" ")
print("this is 3 ST list", type(st), st)

#normal list
l = [1,2,3,4,5,6]
print("this is normal list", type(l), l)

l.extend(st) #note you can not create new list out of this like l1 = l.extend(st)
print(l1)

this is 0  <class 'tuple'> ('Apple', 'Banana', 'Cherry', 'Mango')
this is 1 <class 'list'> ['Apple', 'Banana', 'Cherry', 'Mango']
this is 2 <class 'str'> Apple Banana Cherry Mango
this is 3 ST list <class 'list'> ['Apple', 'Banana', 'Cherry', 'Mango']
this is normal list <class 'list'> [1, 2, 3, 4, 5, 6]
None

In [54]:
#length of list
ll = len(l)
print(ll)
mlist = [True, True, False, None, "S1"]
print(mlist)
#check whether list if empty or not or check boolean values
if True in l1: #l1 list in previous block
    print("Yes True in mylist")
else:
    print("empty list")

if 's1' in mlist:
    print("value S1 in list")
else:
    print("Value not in list")

6
[True, True, False, None, 'S1']
empty list
Value not in list

In [112]:
#access list items - default start with 0 if begin with none like [:3], negative means start from end
print(l)
print(l[-1])
print(l[1:3])
print (l[-4:-1])

['A', 'B', 2, 3, 4, 5, 6]
6
['B', 2]
[3, 4, 5]

In [111]:
#change list item
l[0]='A'
print(l)

['A', 'B', 2, 3, 4, 5, 6]

In [110]:
#Appene and insert item in list, append default at last insert mentioned index value
# print(l)
# l.insert(1, "B")
# print(l)
# l.append("C")
# print(l)
# l.remove("B")
print(l)

['A', 'B', 2, 3, 4, 5, 6]

In [115]:
# extend is apply to any iterable component
t = (8,9,7)
l.extend(t)
print(l)

['A', 'B', 2, 3, 4, 5, 6, 8, 9, 7, 8, 9, 7]

In [121]:
fruits = ["apple", "banana", "cherry", "kiwi", "mango"]
newlist = []

for x in fruits:
    if "a" in x:
        print("value 'a' in x > ", x)
        newlist.append(x)
    else:
        print("a is not in x ", x)

print(newlist)

value 'a' in x >  apple
value 'a' in x >  banana
a is not in x  cherry
a is not in x  kiwi
value 'a' in x >  mango
['apple', 'banana', 'mango']

In [140]:
fruits = ["apple", "banana", "cherry", "kiwi", "mango"]
newlist = [x for x in fruits if "a" in x]
print(newlist)
#or we can write by checking specific item in list
newlist1 = [c for c in fruits if c != "apple"]
print (newlist1)
newlist2 = [c for c in range(10) if c < 5]
print(newlist2)
#without if condition
newlist3 = [c for c in range(10)]
print(newlist3)

['apple', 'banana', 'mango']
['banana', 'cherry', 'kiwi', 'mango']
[0, 1, 2, 3, 4]
[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [148]:
#List comprehension 
s = ['Orange', 'Banana', 'Apple', 'Onion', 'Tomato', 'Potato', 'Beetroot', '1', '5']
#s= s.remove(0)
nl = [x for x in s if (x =="Apple" or "o" in x)] # Orange and Banana not added to nlist by comprehension
print(nl)

['Apple', 'Onion', 'Tomato', 'Potato', 'Beetroot']

In [176]:
s.sort(reverse=True) # reverse true for decending
print (f"{s}")

['Tomato', 'Potato', 'Orange', 'Onion', 'Mango', 'Banana', 'Apple', '5', '1']

In [178]:
s1 = s[-4:-1]
s1

['Banana', 'Apple', '5']

In [175]:
#index()	Returns the index of the first element with the specified value
s.index("Apple") 
#let say if i need to change Beetroot to Mango in that case i don't know ind position of beetroot so
s[s.index("Beetroot")] = "Mango"
s

['Tomato', 'Potato', 'Orange', 'Onion', 'Mango', 'Banana', 'Apple', '5', '1']

In [212]:
mylist = ['apple', 'banana', 'cherry','berry']
mylist.remove('berry')
mylist.pop()
mylist

['apple', 'banana']

In [233]:
s = ['Orange', 'Banana', 'Apple', 'Onion', 'Tomato', 'Potato', 'Beetroot', '1', '5']
mylist = ['Apple', 'Banana', 'cherry','berry']
mylist.extend(s)
print(mylist)
mylist = list(dict.fromkeys(mylist))
print(mylist)

['Apple', 'Banana', 'cherry', 'berry', 'Orange', 'Banana', 'Apple', 'Onion', 'Tomato', 'Potato', 'Beetroot', '1', '5']
['Apple', 'Banana', 'cherry', 'berry', 'Orange', 'Onion', 'Tomato', 'Potato', 'Beetroot', '1', '5']

In [256]:
#method to remove duplicate items from list
s = ['Orange', 'Banana', 'Apple', 'Onion', 'Tomato', 'Potato', 'Beetroot', '1', '5']
mylist = ['Apple', 'Banana', 'cherry','berry']
mylist.extend(s)
print(f"Print 1 -- List {mylist} <<< and total item in list {len(mylist)}")
print(chr(10) ,"Blank lines 1", chr(10))
def rm_dup_from_lst(x):
    x  = list(dict.fromkeys(x))
    print(f"Print 2 -- List items from method >> {x} and total item in list {len(x)}")
    return x
rm_dup_from_lst(mylist)# if you call method it will not chagne outside list but if you call and assign to list then it will change
print(chr(10) ,"Blank lines 2", chr(10))

print(f"Print 3 -- New list {mylist} <<< total values in list {len(mylist)}")
print(chr(10) ,"Blank lines 3", chr(10))

mylist = rm_dup_from_lst(mylist)
print(chr(10) ,"Blank lines 4", chr(10))

print(f"Print 4 -- New updated with method list {mylist} <<< total values in list {len(mylist)}")

Print 1 -- List ['Apple', 'Banana', 'cherry', 'berry', 'Orange', 'Banana', 'Apple', 'Onion', 'Tomato', 'Potato', 'Beetroot', '1', '5'] <<< and total item in list 13

 Blank lines 1

Print 2 -- List items from method >> ['Apple', 'Banana', 'cherry', 'berry', 'Orange', 'Onion', 'Tomato', 'Potato', 'Beetroot', '1', '5'] and total item in list 11

 Blank lines 2

Print 3 -- New list ['Apple', 'Banana', 'cherry', 'berry', 'Orange', 'Banana', 'Apple', 'Onion', 'Tomato', 'Potato', 'Beetroot', '1', '5'] <<< total values in list 13

 Blank lines 3

Print 2 -- List items from method >> ['Apple', 'Banana', 'cherry', 'berry', 'Orange', 'Onion', 'Tomato', 'Potato', 'Beetroot', '1', '5'] and total item in list 11

 Blank lines 4

Print 4 -- New updated with method list ['Apple', 'Banana', 'cherry', 'berry', 'Orange', 'Onion', 'Tomato', 'Potato', 'Beetroot', '1', '5'] <<< total values in list 11

In [262]:
#mylist.pop(-1) # pop to remove value by index complex example if we don't have index for a item in list eg banana
print(mylist)
try:
    mylist.pop(mylist.index("banana")) # get the index for a item in list and then pop the item
except ValueError:
    print(chr(10), ">>>Invalid item in list 'Try section failed' <<< End")
print(mylist)

['Apple', 'Banana', 'cherry', 'berry', 'Orange', 'Onion', 'Tomato', 'Potato', 'Beetroot', '1', '5']

 >>>Invalid item in list 'Try section failed' <<< End
['Apple', 'Banana', 'cherry', 'berry', 'Orange', 'Onion', 'Tomato', 'Potato', 'Beetroot', '1', '5']

In [204]:
#delete all items from list
fruits = ['apple', 'banana', 'cherry']
print(fruits)
fruits.clear()
print(fruits)

['apple', 'banana', 'cherry']
[]

In [264]:
# try except value error message
l = [1,2,3,4,5]
try:
    a,b,c = l
except ValueError as e:
    print("Value error >", e)

Value error > too many values to unpack (expected 3)

In [300]:
mystr = 'Hello ABC how are you'
#[start:end:skip] - for 2 it will skip one char and print next character one
mysubstr = mystr[0::2]
print(mysubstr)

HloAChwaeyu

In [7]:
mysubstr = mystr[0:5] #begin with 0 but last number position is not consider
print(mysubstr)

Hello

In [6]:
#end attribute use to print next iterator of list
for x in mystr:
    print(x, end='-')

H-e-l-l-o- -A-B-C-

In [26]:
#conditional check
if 'ab' or 'ABC' in mystr:
    print('yes')
else:
    print('No')

yes

In [43]:
#leading and trailing whitespac is removed by strip
s = '  Hello ABC '
s1 = s.strip()
print(f"'{s}' -new string--> '{s1}'")

'  Hello ABC ' -new string--> 'Hello ABC'

In [51]:
mystr.endswith("C")

True

In [58]:
mystr.startswith('Hello')

True

In [94]:
#position of character/substr in string
s = "Hello Hello dear Hek d"
s.find('Hek')

17

In [293]:
#count specific character in string
s = "Hello Hello dear Hek d hello Hello"
s.count('Hello')

3

In [272]:
#though string is imutable but we can change it with replace but it will create new list rather then changing th
x = s.replace('Hello', 'Good Morning')
print(x)

Good Morning Good Morning dear Hek d hello Good Morning

In [295]:
#obtaining/creating new list from string based on the delimiter

lst = s.split(' ')
lst

['Hello', 'Hello', 'dear', 'Hek', 'd', 'hello', 'Hello']

In [298]:
#composing string from list again based on the delimeter to be used in string
print(lst)
ss = ' '.join(lst)
ss

['Hello', 'Hello', 'dear', 'Hek', 'd', 'hello', 'Hello']

'Hello Hello dear Hek d hello Hello'

In [128]:
#format number in output
num = 44.8844
print(f'Total number is {num:.2f}')

Total number is 44.88

In [135]:
#split string to make list
rs = 'jack terry rosy rony tom jose antoney'
my_lst = rs.split(' ')
my_lst

['jack', 'terry', 'rosy', 'rony', 'tom', 'jose', 'antoney']

In [136]:
if 'terry' in my_lst:
    print("available")
else:
    print("no")

available